*{
    margin:0;
    padding:0;
}

body {
    background-color: #85BB65;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding:20px 20px 0px 20px;
}
#continut {
    background-color: #FFFFF0;
    margin: 0 auto;
    width: 85%;
}
.links a{
    text-decoration: none;
    padding:0 10px 10px 10px;
    font-weight:bold;
    color:black;
    font-size:20px;
}
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 25px 25px;
}
#pic img {
    width: 100%;
    height: 100%;
}
#text-section {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
#services {
    background-color: bisque;
    margin: 0 auto;
    width:93%;
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    align-items: flex-start;
    padding: 0 25px 25px 25px;    height:60vh;
}
#triplelogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 40px;
}
.servlogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
.servlogo img {
    width: 75px;
}
.logocolumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    margin-left:80px;

}
.logocolumn img {
    height: 66px;
}
.coloana3 {
    background-color: #FFFFF0;
    border-style:solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.75%;
    padding: 5px;
}
.coloana3 p {
    width: 90%;
}
.coloana3 div {
    margin-left: 20px;
}
#sixcolumn {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    width: 95%;
    margin-top: 20px;
    margin-left:20px;


}
#doic, #treic, #patruc, #sasec  {
   border-left:none;
}
#cincic, #sasec {
    border-top:none;
}
.adjust {
    display: flex;
    flex-direction: row;
    align-items: center ;
    height:30vh;
}
#Contact {
    display: flex;
}
#Contact div {
    display: flex;
    
}

#primac {
    grid-area: primac;
}
#doic {
    grid-area: doic;
}
#treic {
    grid-area: treic;
}
#patruc {
    grid-area: patruc;
}
#cincic {
    grid-area: cincic;
}
#sasec {
    grid-area:sasec;
}
#Contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:40px;

}
#Contact h1 {
    width: 95%;
    margin-left:20px;
}
#Contact div {
    margin-left:20px;
}
#Contact div img {
    width:50px;
}
button {
    border:none;
    outline:none;
    padding: 10px 20px;
    background-color:orange;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    margin: 50px 40px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(214, 139, 1);
}
button:active {
    background-color: orange;
}
#message div {
    display: flex;
    flex-direction: row;

}
#message  div div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start ;
}
#contactinfo {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    margin-top: 20px;

}
#info {
    display: flex;
    flex-direction: column;
    width: 30%;
    height:550px;
    row-gap: 15px;

}
#info  h4 {
    display: inline; 

}
label {
    font-weight: 900;
    padding: 0 0 5px 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
footer img {
    height: 80px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

@media only screen and (max-width: 1000px) {
    #triplelogo {
        flex-direction: column;
        width:80%;
    }
    #services {
        align-items: center;
    }
    #services h2 {
        
    }
    #about {
        align-items: flex-start;
        flex-direction: column;
    }
    #continut {
        width: 100vw;
        margin: 0 0 ;
    }
}
